.videoWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1.6rem;
  overflow: hidden;
}

.videoWrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videoHeader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 420;
  padding: var(--size-m);
  display: flex;
  align-items: center;
}

.videoTitle {
  font-size: 1rem;
}

.videoButton {
  flex-grow: 1;
  font-size: 1.6rem;
  text-align: right;
}

.videoButton button {
  width: 42px;
  height: 42px;
  background: #fff;
  border-radius: 21px;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1em;
}